mixin header-nav()
    .container
        .header__wrap
            .header__logo
                include ../../images/icons/logo.svg
            nav.header__nav
                a.header__nav-link(href='#') Order Online
                a.header__nav-link(href='#') About
                a.header__nav-link(href='#') News
                a.header__nav-link._size-m._bold._hover-2(href='tel:54548779654') 54-548-779-654
