include head.pug
include header.pug
include footer.pug
include header-nav.pug

block variables
    
doctype html
html(lang='ru')
    +head(page_title || '', scripts || [])

    body
        +header('_bg-red')

        main
            block content

        +footer('_bg-dark')
