extends ./layout/layout

block variables
    - var page_title = 'Карта сайта';

block content
    .container
        ul
            li: a(href="ui.html") UI Kit
            li: a(href="main.html") Главная

