mixin card(img, title, text, price1, price2, taste )
    .card
        a(href='#'): img(src=`images/pizzas/pizza-${img}.png` alt='pizza').card__img
        .card__content
            h3(class=`card__title ${taste === undefined ? '' : taste}`) <span>#[=title ]</span> <span></span> <span></span> <span></span>
            .card__text
                p= text
            .card__separator Pick Size
            .card__choice
                .card__choice-item
                    .size 22 #[span cm]
                    .price <sup> $ </sup> #[=price1]
                .card__choice-item
                    .size 22 #[span cm]
                    .price <sup> $ </sup> #[=price2]
        .card__btn
            .btn._icon._icon-basket Add to Cart