include card

mixin cards()
   +card(1, 'Supreme Pizza', 'Ricotta, sun dried tomatoes, garlic, mozzarella cheese, topped with lightly drizzled red sauce, pesto, and fresh basil', '$19.90', '$25.90', ' _icon _icon-veg _icon-hot _icon-meat', '_active', undefined, '_show-btn')
   +card(2, 'Vegge Lover' , 'Extra-virgin olive oil, garlic, mozzarella cheese, onions, mushrooms, green olives, black olives, fresh tomatoes', '$19.90', '$25.90', ' _icon _icon-veg ')
   +card(3, 'Primo Meat', 'Mouth watering pepperoni, cabanossi, mushroom, capsicum, black olives and stretchy mozzarella', '$19.90', '$25.90', '_icon _icon-hot')
   +card(4, 'Pepperoni Calzone', 'Piled with shrimp, calamari, clams, mussels, surimi and stretchy mozzarella, seasoned with tangy lemon pepper.', '$19.90', '$25.90')
   +card(5, 'Vegge Lover' , 'Extra-virgin olive oil, garlic, mozzarella cheese, onions, mushrooms, green olives, black olives, fresh tomatoes', '$19.90', '$25.90', '_icon _icon-veg')
   +card(6, 'Primo Meat', 'Mouth watering pepperoni, cabanossi, mushroom, capsicum, black olives and stretchy mozzarella', '$19.90', '$25.90', '_icon _icon-hot')
   +card(7, 'Supreme Pizza', 'Ricotta, sun dried tomatoes, garlic, mozzarella cheese, topped with lightly drizzled red sauce, pesto, and fresh basil', '$19.90', '$25.90')
   +card(8, 'Vegge Lover' , 'Extra-virgin olive oil, garlic, mozzarella cheese, onions, mushrooms, green olives, black olives, fresh tomatoes', '$19.90', '$25.90', '_icon _icon-veg')
   +card(9, 'Primo Meat', 'Mouth watering pepperoni, cabanossi, mushroom, capsicum, black olives and stretchy mozzarella', '$19.90', '$25.90', '_icon _icon-hot')


