include filters
include cards
include pagination

mixin dashboard()
    section.section
        .dashboard
            .container
                .dashboard__filters
                    +filters()
                .dashboard__cards
                        +cards()
                .dashboard__pagination
                        +pagination()
