mixin menu()
    section.section._bg-red
        .container
            .menu
                .menu__items
                    .menu__item
                        .menu__item-icon
                            include ../../images/icons/menu/pizza-icon.svg
                        .menu__item-name pizza
                    .menu__item._active
                        .menu__item-icon
                            include ../../images/icons/menu/burger-icon.svg
                        .menu__item-name burgers
                    .menu__item
                        .menu__item-icon
                            include ../../images/icons/menu/salad-icon.svg
                        .menu__item-name salads
                    .menu__item
                        .menu__item-icon
                            include ../../images/icons/menu/taco-icon.svg
                        .menu__item-name tacos
                    .menu__item
                        .menu__item-icon
                            include ../../images/icons/menu/wrap-icon.svg
                        .menu__item-name wraps
                    .menu__item
                        .menu__item-icon
                            include ../../images/icons/menu/fries-icon.svg
                        .menu__item-name fries
                    .menu__item
                        .menu__item-icon
                            include ../../images/icons/menu/salad-icon.svg
                        .menu__item-name salads
                    .menu__item
                        .menu__item-icon
                            include ../../images/icons/menu/drink-icon.svg
                        .menu__item-name drinks
