mixin pagination()
   .pagination
      .pagination__items
         .pagination__item._active 1
         .pagination__item 2
         .pagination__item 3

      .pagination__btn
         .btn._bold-none._tt-upper._padding-s._color-transparent
            <span> next page </span>
            include ../../img/icons/btn/pagination.svg
