mixin slider()
    section.section._bg-red
        .container
            .slider
                .slider__container
                    img(src="images/slid-1.png")

                .slider__btns
                    .slider__btns-wrap
                        .slider__btn._active
                        .slider__btn
                        .slider__btn
                        .slider__btn
                        .slider__btn
                        .slider__btn