.card {
  max-width: calc(100% / 3 - 40px);
  text-align: center;
  //margin: 20px 20px -40px;
  margin: 20px;
  transition: all .3s ease;
  position: relative;
  background: $color-white;
  @include phone {
    max-width: calc(100% / 2 - 40px);
  }
  @include respond-to-max($smart) {
    max-width: calc(100% - 40px);
    margin-bottom: 40px;
  }

  &:hover {
    box-shadow: 0px 4px 40px rgb(230, 230, 230);

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 100px;
      z-index: 2;
    }

    &._show-btn {
      .btn {
        visibility: visible;
        opacity: 1;
        position: relative;
        z-index: 20;
      }
    }
  }

  a {
    display: block;
  }

  img {
    max-width: 360px;
    width: 100%;
    margin-bottom: 5px;
    //height: 320px; //todo: убрать
  }

  h3 {
    margin: 7px 0 10px;
    font-weight: normal;
    letter-spacing: -1.24px;
    @include tablet {
      //min-height: 68px;
      span {
        &:nth-child(1) {
          display: block;
        }
      }
    }

    &._icon {
      span::after {
        margin-left: 3px;
      }

      &-veg {
        span {
          &:nth-child(2) {
            &::after {
              content: url("../img/icons/filters/vegetarian-icon.svg");
              height: 14px;
              width: 13px
            }
          }
        }

      }

      &-hot {
        span {
          &:nth-child(3) {
            &::after {
              content: url("../img/icons/filters/paprika-icon.svg");
              height: 19px;
              width: 13px
            }
          }
        }
      }

      &-meat {
        span {
          &:nth-child(4) {
            &::after {
              content: url("../img/icons/filters/meat-icon.svg");
              height: 14px;
              width: 13px
            }
          }
        }
      }
    }
  }

  &__text {
    font-size: 14px;
    font-style: italic;
    line-height: 1.64;
    letter-spacing: .35px;
    color: $color-grey-4;
    //margin-bottom: 30px;
    min-height: 110px;
    max-height: 120px;
    overflow: hidden;
    text-overflow: clip;
    @include respond-between($tablet-width ,$desktop-width) {
      font-size: 12px;
      line-height: 18px;
    }
  }

  &__content {
    padding: 0 38px;
    @include respond-to-max($desktop-width) {
      padding: 0 15px;
    }
  }

  &__separator {
    font-size: 14px;
    position: relative;
    margin-bottom: 30px;

    &::after,
    &::before {
      content: "";
      height: 2px;
      background: $color-grey-3;
      position: absolute;
      width: 33%;
      top: 50%;
      z-index: 10;
      transform: translate(0, -50%);
    }

    &::after {
      left: 0;
    }

    &::before {
      right: 0;
    }
  }

  &__choice {
    display: flex;
    justify-content: space-between;
    margin: 0 -12px 40px;
    @include tablet {
      flex-direction: column;
      margin-bottom: 20px;
    }

    &-item {
      display: flex;
      align-items: center;
      margin: 0 12px;
      @include tablet {
        margin-bottom: 10px;
      }

      &._active {
        .size {
          background: $color-yellow-3;
        }
      }
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    background: $color-white;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 20;
    //&:hover {
    //  .btn {
    //    visibility: visible;
    //    opacity: 1;
    //    position: relative;
    //    z-index: 20;
    //  }
    //}
  }

  .size {
    margin-right: 9px;
  }

  .btn {
    visibility: hidden;
    opacity: 0;
    margin-bottom: 20px;
    position: absolute;
  }
}