*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: $base-font-size;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: rem(36px);
}

h2 {
  font-size: rem(28px);
  line-height: rem(34px);
}

h3 {
  font-size: rem(24px);
  line-height: rem(34px);
}

h4 {
  font-size: rem(19px);
  line-height: rem(28px);
}

h5 {
  font-size: rem(15px);
  line-height: rem(12px);
}

h6 {
  font-size: rem(12px);
}

h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
  color: $color-dark-2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}