$base-font-size: 16px;

//Разрешения экранов
$phone-width: 320px;
$tablet-width: 768px;
$small-desktop-width: 992px;
$desktop-width: 1200px;
$wide-desktop-width : 1400px;

//Цвета
$color-white: #fff;
$color-dark: #4a4a4a;
$color-green: #8ca93e;
$color-grey: #969696;
$color-grey-2: #7f7f7f;
$color-grey-3: #df8392;
$color-yellow: #ecae23;
$color-yellow-2: #ffae00;
//Цвета - ui
$color-slider-active: #f0002f;
$color-menu: #ffc0ca;
$color-btn: #cf002e;

//Цвета - background
$bg-cream: #f4f2eb;
$bg-red: #a50a27;
$bg-dark: #2c2c2c;


//Шрифты

$font-roboto: "Roboto", sans-serif;
$font-yanone-kaffeesatz: "Yanone Kaffeesatz", sans-serif;
$font-oswald: "Oswald", sans-serif;